@charset "UFT-8";  /** REGRA**/



body{
        background-color: rgb(152, 193, 233);
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 12px;
    }

    h1{
        color: firebrick;
    }

    h2{
        color: rgb(117, 43, 136);
    }

    p{
        text-align: justify;
    }
