body{
    background-color: azure;
}

div{
    border: 2px solid red;
    padding: 35px;
    text-align: center;
    text-align: justify;
    font-size: 20px;
    margin: 200px 50px;
}

div::before{
    content: "";
    background-color: rgb(146, 32, 32);
    width: 70px;
    height: 8px;
    display: inline-block;
}

div::after{
    content: "";
    background-color: rgb(146, 32, 32);
    width: 70px;
    height: 8px;
    display: inline-block;
}