/*Existe o reset.css e o normalize.css, qual a diferença?
reset.css = reseta todo o CSS, ou seja, remove todo o estilo do navegador.
normalize.css = torna todos os CSS normalizado, ou seja, torna todos iguais em diferentes navegadores. Vamos utilizar o normalize*/

body{
    font-family: "Source Sans Pro", Helvetica, sans-serif
    ;
}

a{
    transition:color 2s linear;
    color:#49bf9d;
}

h3{
    color:rgb(120, 120, 120);
    font-size:24px;
    line-height: 36px;
    margin: 0 0 24px;
    font-weight: 400;
}

h4{
    color: rgb(134, 126, 126);
    font-size: 20px;
}

h5{
    color:rgb(48, 39, 39);
    font-size: 15px;
}

hr {
    margin-top: 70px;
    margin-bottom: 30px;
}

sub, sup{
    font-size: 12px;
}

blockquote{
    border-left: 5px solid #efefef;
    margin: 2em 0;
    padding: .5em 0 .5em 1.3em;
}


ul, ol{
    line-height: 30px;
    text-transform: uppercase;
}

.ul-alternative{
    list-style: none;
    padding-left: 1.5em;
    line-height: 50px;
}

.ul-alternative li{
    border-bottom: 2px solid #a7a5a5; 
}

.ul-alternative li:last-child{
    border-bottom:0;
}

.ul-icons{
    list-style: none;
    padding-left: 1.5em;
}

.ul-icons li{
    display: inline-block;
    font-size: 2em;
    margin-left: 19px;
    color: #49bf9d;
}

.linhas{
    overflow: auto;
}

.colunas{
    width: 43%;
    float: left;
}

.colunas:first-child{
    margin-right: 7%;
}

.colunas:last-child{
    margin-left: 7%;
}

/* Grid */

.colunas2-3{
    width: 60%;
    float: left;
}

.colunas1-3{
    width: 30%;
    margin-left: 10%;
    float: left;
    margin-left: 10px;
}

.colunas1-3 p{
    font-size: 17px;
    display: inline-block;
    color: rgb(120, 120, 120);
    margin-top: 56px;
    margin-left: 30px;
    text-align: center;
}

.fas{
    color:#49bf9d;
}

input, label, textarea{
    display: inline-block;
    width: 100%;
    box-sizing: border-box;
}

input, textarea{
    background-color: #dbd6d6;
    border: none;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
}

input[type="radio"], input[type=checkbox]{
    width: auto;

}

label{
    margin-bottom: 14px;
}

input:hover, textarea:hover{
    border: 2px solid #49bf9d;
    display: inline-block;
}


.button-default{
    background-color: #49bf9d;
    color: white;
    border: 2px solid #49bf9d;
    border-radius: 2em;
    padding: .3em 1.5em;
    font-size: .8em;
    text-align: center;
    display: inline-block;
    width: auto;
}

.button-default p,a{
    text-decoration: none;
}

.button-default-stroke{
    background-color: white;
    border-color: #efefef;
    color: #443939;
    text-align: center;
}

.button-default-small{
    font-size: 0.7em;
    text-align: center;
}

.button-default-full{
    display: block;
    text-align: center;
}

.button-default-l{
    background-color: white;
    color:#443939;
    border: 2px solid #49bf9d;
    border-radius: 2em;
    padding: .3em 1.5em;
    font-size: .8em;
    text-align: center;
    display: inline-block;
}

.button-default-big{
    font-size: 1em;
}

.button-default-big:hover{
    border:2px solid rgb(59, 58, 58);
}

.main-header{
    position: fixed;
    top:0;
    left:0;
    background-image:url(imagens/overlay.png),url(imagens/bg.jpg);
    background-size:auto,cover;
    background-position: top left;
    width: 35%;
    height: 100%;
    padding: 150px 60px;
    box-sizing: border-box;
    text-align: right;
    
}

.main-header img{
    border-radius: 50%;
}

.main-header h1{
    font-size: 21.6px;
    color: rgba(255,255,255,0.5);
    line-height: 37.8px;
    font-weight: 400;
}

.main-header h1 strong{
    color: white;
}

.link-header{
    color: inherit;
    text-decoration:none;
}

.link-header:hover{
    color:#49bf9d;
}


.main-content{
    margin-left: 35%;
    width: 65%;
    padding: 150px 60px;
    box-sizing: border-box;
}


.section-one h2{
    color: rgb(120, 120, 120);
    font-size: 32px;
    line-height: 48px;
    font-weight: 400;
    text-align: center;
}

.section-one p{
    color: rgb(162,162,162);
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    margin-left: 15px;
}

.section-duo .titulo{
    color: rgb(120,120,120);
    font-size: 16px;
    line-height: 24px;
    margin: 0 0 8px;
    padding: 0;
}

.section-duo p{
    color:rgb(162,162,162);
    font-size: 12.8px;
    line-height: 19.2px;
    margin: 0;
    padding: 0;
}

.p-section-tree p{
    color:rgb(162,162,162);
    font-size: 17px;
    line-height: 19.2px;
    margin: 0;
    padding: 0;
}

.section-five p{
    color:rgb(116, 112, 112);
    font-size: 17px;
    line-height: 19.2px;
    margin: 0;
    padding: 0;
}

.table{
    margin: 0 0 2em 0;
    width: 100%;
    border-collapse: collapse;
    text-align: center;
}

.table th{
    background-color:#a7a5a5;
    padding: 0.75em;
}

.table td{
    padding: .75em;
}

.table tbody tr{
    line-height: 2em;
    border-bottom: 2px solid rgb(158, 153, 153);   
}

.table tbody tr:first-child td{
    border-top: 2px solid rgb(85, 80, 80);
}

.table tbody tr:last-child td{
    border-bottom: 2px solid rgb(85, 80, 80);
}

.table tbody tr:nth-child(odd) td{
    background-color: rgba(197, 184, 184, 0.5);
}

.table-alternate,.table-alternate tbody td, .table-alternate tbody tr:first-child td, .table-alternate tbody tr:last-child td{
    border:2px solid rgb(126, 119, 119);
}

.ultimo-form input,select{
    height: 30px;
    width: 300px;
}

.ultimo-form select{
    margin-left: 40px;
    margin-bottom: 40px;
}

